<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>CiudadControl</servlet-name>
        <servlet-class>controler.CiudadControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Grosor_hiloControl</servlet-name>
        <servlet-class>controler.Grosor_hiloControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RolesControl</servlet-name>
        <servlet-class>controler.RolesControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProveedorControl</servlet-name>
        <servlet-class>controler.ProveedorControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tipo_documentoControl</servlet-name>
        <servlet-class>controler.Tipo_documentoControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CiudadControl</servlet-name>
        <url-pattern>/CiudadControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Grosor_hiloControl</servlet-name>
        <url-pattern>/Grosor_hiloControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RolesControl</servlet-name>
        <url-pattern>/RolesControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProveedorControl</servlet-name>
        <url-pattern>/ProveedorControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tipo_documentoControl</servlet-name>
        <url-pattern>/Tipo_documentoControl</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
