<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControladorCiudad</servlet-name>
        <servlet-class>Controlador.ControladorCiudad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorTipo_documento</servlet-name>
        <servlet-class>Controlador.ControladorTipo_documento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorRoles</servlet-name>
        <servlet-class>Controlador.ControladorRoles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorGrosor_hilo</servlet-name>
        <servlet-class>Controlador.ControladorGrosor_hilo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorProveedor</servlet-name>
        <servlet-class>Controlador.ControladorProveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorUsuarios</servlet-name>
        <servlet-class>Controlador.ControladorUsuarios</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorCiudad</servlet-name>
        <url-pattern>/ControladorCiudad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorTipo_documento</servlet-name>
        <url-pattern>/ControladorTipo_documento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorRoles</servlet-name>
        <url-pattern>/ControladorRoles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorGrosor_hilo</servlet-name>
        <url-pattern>/ControladorGrosor_hilo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorProveedor</servlet-name>
        <url-pattern>/ControladorProveedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorUsuarios</servlet-name>
        <url-pattern>/ControladorUsuarios</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
